:root {
    --primary-color: #7cea7c;
    --blobOne: #aae1af;
    --main-button: #55e155;
    --secondary-color: #00b5ff;
    --blobTwo: skyblue;
    --background: #222222;
    --text-color: #fffefe;
}


html, body, #root {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100dvh;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

.blobs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.blobOne {
    position: absolute;
    width: 13rem;
    height: 13rem;
    background: radial-gradient(circle, var(--primary-color) 10%, var(--blobOne) 20%);
    border-radius: 50% 40% 60% 60%;
    filter: blur(100px);
}

.blobOneFirst { top: 5%; left: 5%; }
.blobOneSecond { top: 80%; left: 20%; }
.blobOneThird { top: 35%; left: 60%; }
.blobOneFourth { top: 80%; left: 90%; }

.blobTwo {
    position: absolute;
    width: 13rem;
    height: 13rem;
    background: radial-gradient(circle, var(--secondary-color) 10%, var(--blobTwo) 20%);
    border-radius: 50% 40% 60% 60%;
    filter: blur(100px);
}

.blobTwoFirst { top: 5%; left: 80%; }
.blobTwoSecond { top: 75%; left: 60%; }
.blobTwoThird { top: 60%; left: 1%; }
.blobTwoFour { top: 20%; left: 20%; }


@media (max-width: 768px) {
    .blobOne {
        width: 10rem;
        height: 10rem;
        filter: blur(75px);
    }
    .blobTwo {
        width: 10rem;
        height: 10rem;
        filter: blur(75px);
    }
}

@media (max-width: 537px) {
    .blobOne {
        width: 8rem;
        height: 8rem;
        filter: blur(50px);
    }
    .blobTwo {
        width: 8rem;
        height: 8rem;
        filter: blur(50px);
    }
}