.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 8rem 0 1rem 0;
    padding: 2rem;
}

.sub-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.first-sub {
    margin: 1rem 1rem 0 1rem;
    padding: 1rem 1rem 0 1rem;
    font-size: 2.5rem;
    text-align: center;
}

.intro1 {
    margin: 0;
}

.intro2 {
    text-align: center;
}

.second-sub {
    display: flex;
    font-size: 1.3rem;
    max-width: 60%;
}

.third-sub {
    background-color: var(--light-base);
    color: var(--main-button);
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.5rem;
    border: 2px solid var(--main-button);
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    margin: 3rem 0.5rem 0.5rem 0.5rem;
}

.third-sub:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: white;
    transform: scale(1.08);
}

.third-sub a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

@media (max-width: 857px) {
    .first-sub {
        margin: 0;
        padding: 0;
        font-size: 2.3rem;
    }
    .second-sub {
        font-size: 1.1rem;
        max-width: 70%;
    }
}

@media (max-width: 683px) {
    .first-sub {
        margin: 0;
        padding: 0;
        font-size: 2rem;
    }
    .second-sub {
        font-size: 0.9rem;
        max-width: 100%;
    }
    .third-sub {
        font-size: 1.2rem;
        width: 12rem;
    }
}

@media (max-width: 525px) {
    .first-sub {
        margin: 0;
        padding: 0;
        font-size: 1.4rem;
    }
}