
/* ################################################### */
                /* ROOT */
/* ################################################### */

:root {
    --primary-color: #49cbff;
    --secondary-color: #3377ff;
    --background: #0b172f;
    --text-color: #dcf5ff;

    --blob: var(--primary-color);

    /* --background: #fffefe;
    --text-color: #222222; */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    font-family: Roboto, sans-serif;
}

section {
    margin-bottom: 8rem;
}

a {
    text-decoration: none;
}

.blobs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.blob {
    position: absolute;
    width: 7rem;
    height: 7rem;
    background: radial-gradient(circle, var(--secondary-color) 10%, var(--blob) 20%);
    border-radius: 50% 40% 60% 60%;
    filter: blur(100px);
}

.blob:nth-child(1) { top: 20%; left: 80%; }       /* top right of screen */
.blob:nth-child(2) { top: 90%; left: 60%; }      /* middle right of screen */
.blob:nth-child(3) { top: 60%; left: 20%; }       /* middle left of screen */
.blob:nth-child(4) { top: 1%; left: 1%; }        /* top left of screen */

@media (max-width: 768px) {
    .blob {
        width: 5rem;
        height: 5rem;
        filter: blur(75px);
    }
}

@media (max-width: 537px) {
    .blob {
        width: 3rem;
        height: 3rem;
        filter: blur(50px);
    }
}

/* ################################################### */
                /* NAVIGATION BAR */
/* ################################################### */

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 40%;
    margin: 1rem 0 0 0;
}

.nav-items {
    background-color: var(--background);
    color: var(--primary-color);
    padding: 0.2rem 1rem 0.2rem 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    display: flex;
    margin: 0 0.8rem 0 0.8rem;
}

.nav-items:hover {
    transition: transform 0.2s ease, background-color 0.2s ease;
    transform: scale(1.06);
}

.nav-items a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

@media (max-width: 751px) {
    .nav-items-container {
        min-width: 60%;
    }
}

@media (max-width: 473px) {
    .nav-items {
        font-size: 0.7rem;
        margin: 0 0.2rem 0 0.2rem;
        padding: 0.1rem 0.7rem 0.1rem 0.7rem;

    }
}

@media (max-width: 354px) {
    .nav-items {
        font-size: 0.6rem;
        padding: 0.1rem 0.5rem 0.1rem 0.5rem;

    }
}

/* ################################################### */
                /* SOCIAL MEDIA */
/* ################################################### */

.social-media-container {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}

.social-media-links {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    gap: 0.2rem;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    border-radius: 10px;
    background-color: var(--text-color);
    padding: 0.5rem;
    margin: 0 0.5rem 0 0.5rem;
}

.social-link:hover {
    transition: transform 0.2s ease, background-color 0.2s ease;
    transform: scale(1.1);
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

@media (max-width: 769px) {
    .social-icon {
        width: 30px;
        height: 30px;
    }
    .social-link {
        padding: 0.2rem;
        margin: 0 0.2rem 0 0.2rem;
    }
}

/* ################################################### */
                /* HREO SECTION */
/* ################################################### */

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 1rem 0;
    padding: 1rem;
}

.sub-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.first-sub {
    margin: 1rem 1rem 0 1rem;
    padding: 1rem 1rem 0 1rem;
    font-size: 2.5rem;
    text-align: center;
}

.intro1 {
    margin: 0;
    background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.intro2 {
    text-align: center;
    color: var(--text-color);
}

.second-sub {
    display: flex;
    font-size: 1.3rem;
    max-width: 60%;
}

@media (max-width: 857px) {
    .first-sub {
        font-size: 2.3rem;
    }
    .second-sub {
        font-size: 1.1rem;
        max-width: 70%;
    }
}

@media (max-width: 683px) {
    .first-sub {
        font-size: 2rem;
    }
    .second-sub {
        font-size: 0.9rem;
        max-width: 100%;
    }
}

@media (max-width: 525px) {
    .first-sub {
        font-size: 1.4rem;
    }
}

/* ################################################### */
                /* ABOUT SECTION */
/* ################################################### */

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 0;
    padding: 0.5rem;
}

.about-container h2 {
    margin: 1rem;
    text-align: left;
    color: var(--text-color);
}

.main-p {
    margin: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    max-width: 80%;
    color: var(--text-color);
}

.about-main-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 1rem;
}

.profile {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}


@media (max-width: 1024px) {
    .main-p {
        text-align: center;
        font-size: 1rem;
    }
    .profile {
        border-radius: 15px;
    }
}

@media (max-width: 768px) {
    .main-p {
        text-align: center;
        font-size: 0.9rem;
    }
}

@media (max-width: 472px) {
    .profile {
        width: 200px;
        height: 200px;
    }
    .main-p {
        max-width: 90%;
        text-align: center;
        font-size: 0.75rem;
    }
}

/* ################################################### */
                /* CERTIFICATES SECTION */
/* ################################################### */

.certificates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.certificates-container {
    overflow: auto;
    width: 90%;
}

.certificates-sub-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.certificate {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--text-color);
}

.certificate img {
    width: 600px;
    border-radius: 10px;
}

@media (max-width: 1236px) {
    .certificate img {
        width: 500px;
    }
}

@media (max-width: 1036px) {
    .certificate img {
        width: 400px;
    }
}

@media (max-width: 769px) {
    .certificate img {
        width: 300px;
    }
}

/* ################################################### */
                /* PROJECTS SECTION */
/* ################################################### */

.projects-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    color: var(--text-color);
    margin: 1rem 0 0 0;
}

.projects-container h1 {
    margin-left: 1rem;
    text-decoration: underline;
}

.directions-header {
    margin: 0;
    color: var(--text-color);
    text-align: center;
}

.projects-sub-container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    justify-content: space-evenly;
    margin: 0;
    gap: 1rem;
}

.projects-sub-container > * {
    flex: 0 0 auto;
}

.project-nav-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    margin: 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 95%;
    margin: 1rem;
    padding: 0.4rem;
    border-radius: 15px;
}

.card-title {
    text-align: center;
    color: var(--text-color);
    font-size: 1.7rem;
    margin: 0;
}

.large-title {
    text-align: center;
    color: var(--text-color);
    font-size: 2rem;
    margin: 0;
}

.card-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 550px;
    height: 400px;
    overflow: hidden;
}

.card-image img {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-description {
    display: flex;
    margin: 0.5rem;
    color: var(--text-color);
    font-size: 1.3rem;
    max-width: 95%;
}

.large-content {
    overflow: auto;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
}

.card-button-container {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.card-button {
    background-color: var(--background);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    margin: 1rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-size: 1.2rem;
    border-radius: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.card-button:hover {
    transition: transform 0.2s ease, background-color 0.2s ease;
    transform: scale(1.06);
}

@media (max-width: 1440px) {
    .card-description {
        font-size: 1rem;
    }
    .card-image {
        min-width: 400px;
        height: 250px;
    }
}

@media (max-width: 1025px) {
    .card-content-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 1rem;
    }
    .card-image {
        min-width: 300px;
        height: 225px;
    }
    .card-button-container {
        margin: 0.5rem 0 0 0;
    }

    .card-button {
        font-size: 1rem;
    }
    .card-title {
        font-size: 1.5rem;
    }
    .card-description {
        margin: 0;
        font-size: 1rem;
        text-align: left;
    }
    .large-title {
        font-size: 1.9rem;
    }
    .card-content {
        justify-content: flex-start;
        align-items: center;
        gap: 0;
    }
    .large-content {
        max-height: 420px;
        overflow: auto;
    }
}

@media (max-width: 769px) {
    .card-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 1rem;
    }
    .card-image {
        min-width: 350px;
        height: 262px;
    }
    .card-button {
        font-size: 0.8rem;
        margin: 0.8rem 0 0.8rem 0;
    }
    .card-title {
        font-size: 1.4rem;
    }
    .card-description {
        font-size: 1rem;
        text-align: center;
    }
    .large-title {
        font-size: 1.7rem;
    }
    .card-content {
        justify-content: flex-start;
        align-items: center;
        gap: 0;
    }
    .large-content {
        max-height: 420px;
        overflow: auto;
    }
}

@media (max-width: 431px) {
    .card-image {
        min-width: 320px;
        height: 240px;
    }
    .card-title {
        margin: 0.2rem 0 0 0;
        font-size: 1.2rem;
    }
    .card-description {
        font-size: 1rem;
    }
    .large-title {
        font-size: 1.5rem;
    }
    
    .large-content {
        max-height: 420px;
        overflow: auto;
    }
}

@media (max-width: 376px) {
    .card-image {
        min-width: 300px;
        height: 225px;
    }
    .card-title {
        margin: 0.2rem 0 0 0;
        font-size: 1rem;
    }
    .card-description {
        font-size: 1rem;
    }
    .large-title {
        font-size: 1.3rem;
    }
    .large-content {
        max-height: 420px;
        overflow: auto;
    }
}

@media (max-width: 321px) {
    .card-image {
        min-width: 280px;
        height: 210px;
    }
    .card-title {
        margin: 0.2rem 0 0 0;
        font-size: 0.9rem;
    }
    .card-description {
        font-size: 1rem;
    }
    .large-title {
        font-size: 1.1rem;
    }
    .large-content {
        max-height: 420px;
        overflow: auto;
    }
}

/* ################################################### */
                /* SECTION */
/* ################################################### */



/* ################################################### */
                /* FOOTER SECTION */
/* ################################################### */

.footer {
    display:flex;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    margin: 2rem
}