.navContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.navItemsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 40%;
    margin: 1rem 0 0 0;
}

.navItems {
    background-color: var(--background);
    color: var(--secondary-color);
    padding: 0.2rem 1rem 0.2rem 1rem;
    border: 2px solid var(--secondary-color);
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    display: flex;
    margin: 0 0.8rem 0 0.8rem;
}

.navItems:hover {
    background-color: var(--secondary-color);
    color: white;
    transform: scale(1.08);
}

.navItems a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

@media (max-width: 751px) {
    .navTitle {
        margin: 1rem 1rem 0 1rem;
    }
    .navItemsContainer {
        min-width: 60%;
    }
}

@media (max-width: 473px) {
    .navItems {
        font-size: 0.8rem;
        margin: 0 0.2rem 0 0.2rem;
    }
}

@media (max-width: 354px) {
    .navItems {
        font-size: 0.7rem;
        padding: 0.1rem 0.7rem 0.1rem 0.7rem;
    }
}