.projects-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    margin: 0 1rem 0 1rem;
    padding: 0.5rem;
}

.projects-title-container {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.projects-title-container h2 {
    color: var(--text-color);
    margin: 1rem 1rem 0.5rem 1rem;
}

.projects-sub-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0;
}

.project-nav-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    margin: 0;
}

.project-button {
    background-color: var(--background);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    margin: 1rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.project-button:hover {
    transition: transform 0.2s ease, background-color 0.2s ease;
    background-color: var(--secondary-color);
    color: var(--text-color);
    transform: scale(1.08);
}

.project-button a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.project-button.disabled {
    background-color: lightgrey;
    border: 2px solid lightgrey;
    color: grey;
    cursor: not-allowed;
    pointer-events: none;
}

@media (max-width: 751px) {
    .projects-container {
        margin: 0.2rem;
        padding: 0;
    }
    .project-button {
        font-size: 1rem;
    }
}