.skills-container {
    padding: 1rem;
    max-width: 100%;
}

.main-sub {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}

.skill {
    border: 2px solid black;
    border-radius: 15px;
    padding: 1rem;
}

img {
    max-width: 2rem;
}