.badges {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.badges-container {
    max-height: 400px;
    overflow: auto;
    width: 90%;
    min-height: 480px;              /*   <--   good enough for all screen sizes   */
}

.badges-sub-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.badge {
    width: 180px;
    color: var(--text-color);
}

.badge img {
    width: 180px;
    border-radius: 10px;
}