.projects-container {
    margin: 1rem;
    padding: 0.5rem;
}

.projects-title-container {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.projects-title-container h2 {
    margin: 0;
}

.projects-sub-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.project-nav-buttons {
    justify-content: center;
}

.project-button {
    margin: 0 0.5rem 0 0.5rem;
    padding: 0.5rem;

}