.card-container {
    max-width: 45%;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid var(--light-base);
    border-radius: 15px;
    background-color: var(--light-base);
    box-shadow: 0 0 5px 0 grey;
}

.card-title {
}

.card-image {
    min-width: 10%;
}

.card-description {
}

.card-button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

.card-button {
    background-color: var(--light-base);
    border: 2px solid var(--main-button);
    color: var(--main-button);
    margin: 1rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.card-button:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: white;
    transform: scale(1.08);
}


@media (max-width: 1414px) {
    .card-container {
        max-width: 90%;
    }
}