.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 90%;
    margin: 0 1rem 0 1rem;
    padding: 1rem 1rem 0 1rem;
    border: 2px solid var(--background);
    border-radius: 15px;
    background-color: var(--background);
    box-shadow: 0 0 5px 0 grey;
}

.card-title {
    color: var(--text-color);
}

.card-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid Var(--dark-base);
    border-radius: 15px;
    min-width: 550px;
    height: 400px;
    overflow: hidden;
}

.card-image img {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-description {
    display: flex;
    margin: 0.5rem;
    color: var(--text-color);
    font-size: 1.4rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
}

.card-button-container {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.card-button {
    background-color: var(--background);
    border: 2px solid var(--main-button);
    color: var(--main-button);
    margin: 1rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-size: 1.2rem;
    border-radius: 25px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.card-button:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: white;
    transform: scale(1.08);
}

@media (max-width: 1440px) {
    .card-description {
        font-size: 1rem;
    }
    .card-image {
        min-width: 400px;
        height: 250px;
    }
}

@media (max-width: 1175px) {
    .card-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 1rem;
    }
    .card-content {
        justify-content: flex-start;
        align-items: center;
        gap: 0;
    }
    .card-image {
        min-width: 200px;
        height: 200px;
    }
    .card-button-container {
        margin: 0.5rem 0 0 0;
    }

    .card-button {
        margin: 0.5rem;
        font-size: 1rem;
    }
    .card-title {
        margin: 0;
    }
    .card-description {
        margin: 0;
        font-size: 1.001rem;
        text-align: center;
    }
}

@media (max-width: 635px) {
    .card-container {
        max-width: 95%;
        margin: 0.5rem 0 0 0;
    }
    .card-image {
        min-width: 150px;
        height: 150px;
    }
    .card-button {
        font-size: 0.8rem;
    }
    .card-title {
        font-size: 0.8rem;
    }
    .card-description {
        font-size: 0.9rem;
    }
}

@media (max-width: 426px) {
    .card-container {
        max-width: 95%;
        margin: 0.5rem 0.1rem 0.1rem 0.1rem;
        padding: 0 0.5rem 0 0.5rem;
    }
    .card-image {
        min-width: 100px;
        height: 100px;
    }
    .card-title {
        margin: 0.2rem 0 0 0;
    }
    .card-description {
        font-size: 0.85rem;
    }
}