.projects-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    margin: 1rem 0 0 0;
}

.projects-title-container {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.projects-title-container h2 {
    color: var(--text-color);
    margin: 1rem 1rem 0.5rem 1rem;
}

.directions-header {
    margin: 0;
    color: var(--text-color);
    text-align: center;
}

.projects-sub-container {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    justify-content: space-evenly;
    scrollbar-color: transparent transparent;
    scroll-snap-type: x mandatory;
    margin: 0;
    gap: 1rem;
}

.projects-sub-container > * {
    flex: 0 0 auto;
}

.project-nav-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    margin: 0;
}

.project-button {
    background-color: var(--background);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    margin: 1rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.project-button:hover {
    transition: transform 0.2s ease, background-color 0.2s ease;
    background-color: var(--secondary-color);
    color: var(--text-color);
    transform: scale(1.08);
}

.project-button a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.project-button:disabled {
    background-color: lightgrey;
    border: 2px solid lightgrey;
    color: grey;
    cursor: not-allowed;
    pointer-events: none;
}

.slide-box {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 100%;
}

@media (max-width: 751px) {
    .project-button {
        font-size: 1rem;
    }
    .projects-title-container h2 {
        margin: 0 0 1rem 1rem;
    }
}