.credentials-main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.credentials-sub-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.link-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background);
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 15px;
}

.link-sub-container h3 {
    margin: 0;
    color: var(--text-color);
}

.button-image {
    min-width: 160px;
    border-radius: 15px;
}

