.credentials-main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.credentials-sub-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.link-sub-container {
    background-image: linear-gradient(to top left, var(--secondary-color), var(--main-button));
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background);
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
    width: 320px;
    height: 120px;
    border-radius: 15px;
    border: 2px solid white;
}

.link-sub-container:hover {
    transition: transform 0.2s ease, background-color 0.2s ease;
    background-image: linear-gradient(to bottom right, var(--secondary-color), var(--main-button));
    transform: scale(1.08);
}

.link-sub-container h1 {
    margin: 0;
    color: var(--text-color);
}

@media (max-width: 426px) {
    .link-sub-container {
        width: 320px;
        height: 120px;
    }
}

@media (max-width: 376px) {
    .link-sub-container {
        width: 290px;
        height: 100px;
    }
}

@media (max-width: 321px) {
    .link-sub-container {
        width: 270px;
        height: 80px;
    }
}