#NavBar {
    display: flex;
    margin: 3em;
}

nav {
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    z-index: 20;
}

.nav-options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-items {
    margin-left: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 20px;
    font-weight: bold;
    color: var(--header-color);
    text-decoration: none;
}

.nav-items:hover {
    color: var(--secondary-color);
    transform: scale(1.10);
}

.nav-main {
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 40px;
    font-weight: bold;
    color: var(--header-color);
    text-decoration: none;
}
.nav-main:hover {
    color: var(--secondary-color);
    transform: scale(1.10);
}
