.nav-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.nav-title {
    color: var(--dark-base);
    font-weight: bold;
    font-size: 2rem;
    margin: 0 1rem 0 1rem;
}

.nav-items-container {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.nav-items {
    background-color: var(--light-base);
    color: var(--secondary-color);
    padding: 0 1rem 0 1rem;
    border: 2px solid var(--secondary-color);
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    display: flex;
    margin: 0 0.5rem 0 0.5rem;
}

.nav-items:hover {
    background-color: var(--secondary-color);
    color: white;
}

.nav-items a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

@media (max-width: 720px) {
    .nav-container {
        justify-content: center;
    }
}