#NavBar {
    display: flex;
}

nav {
    padding: 1em;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--light-base);
    border-radius: 10px;
    z-index: 20;
}

.nav-options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-items {
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: none;
}

.nav-items:hover {
    transform: scale(1.10);
}

.nav-main {
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: none;
}
.nav-main:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1215px) {
    .nav {
        flex-direction: column;
        gap: 1em;
    }
    .nav-options {
        justify-content: space-between;
    }

    .nav-items {
        margin: 0.5em;
        font-size: 3rem;
    }

    .nav-main {
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 768px) {
    .nav-items {
        font-size: 2rem;
    }

    .nav-main {
        font-size: 3rem;
    }
}