.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 0;
    padding: 0.5rem;
}

.about-container h2 {
    margin: 1rem;
    text-align: left;
    color: var(--text-color);
}

.main-p {
    margin: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    max-width: 70%;
    color: var(--text-color);
}

.about-main-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 1rem;
}

.profile {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}




@media (max-width: 1024px) {
    .profile {

    }
    .main-p {
        max-width: 80%;
        text-align: center;
        font-size: 1rem;
    }
    .profile {
        border-radius: 15px;
    }
}

@media (max-width: 768px) {
    .profile {
    }
    .main-p {
        max-width: 80%;
        text-align: center;
        font-size: 0.9rem;
    }
}

@media (max-width: 472px) {
    .profile {
        width: 200px;
        height: 200px;
    }
    .main-p {
        max-width: 90%;
        text-align: center;
        font-size: 0.75rem;
    }
}