.AboutSection {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 800px;
    margin: 3em;
}

.main-p {
    font: var(--p);
    text-align: justify;
    animation-duration: 5s;
    position: relative;
}