.AboutSection {
    display: flex;
    margin: 3em;
}

.main-p {
    font: var(--p);
    text-align: center;
    float: left;
    margin: 30px 50px 20px;
    animation-duration: 5s;
    position: relative;
}