.social-media-container {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}

.social-media-links {
    display: flex;
    justify-content: flex-end;
    gap: 0.2rem;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    border-radius: 10px;
    background-color: white;
    padding: 0.5rem;
    margin: 0 0.5rem 0 0.5rem;
}

.social-link:hover {
    transition: transform 0.2s ease, background-color 0.2s ease;
    transform: scale(1.2);
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

@media (max-width: 769px) {
    .social-media-links {

    }
    .social-icon {
        width: 30px;
        height: 30px;
    }
    .social-link {
        background-color: white;
        padding: 0.2rem;
        margin: 0 0.2rem 0 0.2rem;
    }
}