.certificates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.certificates-container {
    max-height: 400px;
    overflow: auto;
    width: 90%;
    min-height: 480px;              /*   <--   good enough for all screen sizes   */
}

.certificates-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* add certificate css here */
}