:root {
    --primary-color: #23b930;
    --secondary-color: #3263f6;
    --light-base: #f3f3f3;
    --dark-base: #191919;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-base);
}

a {
    text-decoration: none;
}

