:root {
    --primary-color: #7cea7c;
    --blobOne: #aae1af;
    --main-button: #55e155;
    --secondary-color: #00b5ff;
    --blobTwo: skyblue;
    --light-base: #f3f3f3;
    --dark-base: #191919;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-base);
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

.blobs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.blobOne {
    position: absolute;
    width: 15rem;
    height: 15rem;
    background: radial-gradient(circle, var(--primary-color) 10%, var(--blobOne) 20%);
    border-radius: 50% 40% 60% 60%;
    filter: blur(100px);
}

.blobOne:nth-child(5) { top: 5%; left: 5%; }
.blobOne:nth-child(6) { top: 80%; left: 20%; }
.blobOne:nth-child(7) { top: 35%; left: 60%; }
.blobOne:nth-child(8) { top: 80%; left: 90%; }

.blobTwo {
    position: absolute;
    width: 15rem;
    height: 15rem;
    background: radial-gradient(circle, var(--secondary-color) 10%, var(--blobTwo) 20%);
    border-radius: 50% 40% 60% 60%;
    filter: blur(130px);
}

.blobTwo:nth-child(1) { top: 5%; left: 80%; }
.blobTwo:nth-child(2) { top: 75%; left: 60%; }
.blobTwo:nth-child(3) { top: 60%; left: 1%; }
.blobTwo:nth-child(4) { top: 20%; left: 20%; }

