.badges {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.badges-container {
    max-height: 400px;
    overflow: auto;
    width: 90%;
    min-height: 480px;              /*   <--   good enough for all screen sizes   */
}

.badges-sub-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.badge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 150px;
    color: var(--text-color);
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;
}

.badge img {
    width: 150px;
}

@media (max-width: 426px) {
    .badge {
        width: 120px;
    }
    .badge img {
        width: 120px;
    }
}

